@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}

body{
	cursor: url(images/redglass.crs);
}

.music{
	display: none
}

.wrapper{
	width: 1920px;
	height: 4000px;
	margin: 0 auto;
}

.header-main{
	width: 100%;
	height: 100px;
	position: absolute;
	z-index: 99999;
}


.logo{
	width: 20%;
	height: 100px;
	float: left;
	position: absolute;

}

.logo img{
	width: 50%;
	position: absolute;
	top: 15%;
	left: 10%;
	transition: all 3s;
}

.logo img:hover{
	transform: scale(1.2)
}


#menu{
	width: 60%;
	height: 100px;
	float: right;
	list-style: none;
}

.home{
	font-size: 1000px;
}

#menu ul{
	list-style: none;
	text-align: center;
	display: block;
	width: 150px;
	position: relative;
	top: 90px;
	right: 200px;
	float: right;
	margin: 0;
	padding: 0;
}

#menu ul li{
	font-size: 60px;
	font-family: Molot;
	src: url(Molot.otf);
	padding: 20px;
	margin: 0 auto;
	height: 40px;
	transition: all 2s;
}

#menu ul li a{
	text-decoration: none;
	color: white;
	
}

#menu ul li:hover{
	transform: scale(1.3);
	cursor: url(images/redglass_link.ani), pointer;
}

#menu img{
	width: 80%;
	position: absolute;
	bottom: -300px;
}

.content{
	background: blue;
	width: 100%;
	height: 1080px;
 	scroll-snap-type: y mandatory;
	overflow: auto;
	scroll-behavior: smooth;
}

.section{
	background: white;
	height: 100vh;
  	width: 100%;
	scroll-snap-align: start;
	position: relative;
}

.section img{
	width: 100vw;
}

.top img{
	height: 100vh;
	width: auto;
	float: right;
	position: relative;
}

.effect{
	width: 300px;
}

.effect img{
	position: absolute;
	bottom: 5vh;
	width: 50vw;
}

.background {
	height: 100vh;
	width: auto;
}

.stormfront{
	transition: all 3s;
}

.stormfront img{
	height: 100vh;
	width: auto;
	position: absolute;
	right: 45%;
	bottom: 0px;
}

.stormfront:hover{
	color: aqua;
	transform: scale(1.2);
}

.name{
	font-family: Subspace;
	src: url(font/Subspace.otf);
	color: white;
	font-size: 150px;
	position: absolute;
	bottom: 20%;
	left: 5%;
}
